*{
	padding:0;
	margin:0;
}
.black{
position:sticky;
  width:100%;
  height:48px;
  background-color:#262626;
  color:#ffffff;
}
.white{
  position:sticky;
  width:100%;
  height:48px;
  background-color:#d9d9d9;
  color:#000000;
}
#head{
	width:100%;
	height:100%;
	margin:0;	
  padding-top:1%;
}
.black .ABHISHEK_JASSAL{
	  width: 17em;
  height: 2em;
  padding-left:5%;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 3.2px;
  text-align: center;
  color:#ffffff;
  opacity:1;
}
.white .ABHISHEK_JASSAL{
    width: 17em;
  height: 2em;
  padding-left:5%;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 3.2px;
  text-align: center;
  color:#000000;
  opacity:1;
  }
.black button{
	  width:170px;
  height:19px;
  padding-right:98px;
  float:right;
  font-family: 'Source Sans Pro';
  font-size:1.5rem;
  font-weight:900;
  letter-spacing:3.2px;
  text-align:center;
  background-color:#262626;
  border:none;
  outline: none;
  opacity:1;
}
.white button{
    width:170px;
  height:19px;
  padding-right:98px;
  float:right;
  font-family: 'Source Sans Pro';
  font-size:1.5rem;
  font-weight:900;
  letter-spacing:3.2px;
  text-align:center;
  background-color:#d9d9d9;
  color:#000000;
  border:none;
  outline: none;
  opacity:1;
}
#head button:hover{
  opacity:0.6;
}
#intro{
  width:100%;
  height:100vh;
  background-color:#0d0d0d;
  color:#ffffff;
  padding-top:10%;
  overflow:hidden;
}
.workLine{
  margin-top:9%;
  height:100%;
  text-align:center;
}
.verticaltext{
 height:100%;
}
.work{
transform:rotate(-90deg);
}
.line{
margin-top:2%;
margin-left:50%;
 height:100%;
 border-left:solid 1px #ffffff;
}
.menu{
  color:#ffffff;
  position:absolute;
  width:100%;
  height:100%;
  background-color: #0d0d0d;
  top:44px;
  z-index:200;  
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  overflow:hidden;
}
.open{
  transform: translateX(0);
  position:absolute;
}
.open ul{
  margin-top:5%;
  list-style-type:none;
}
.menu li{
display:block;
   width: 100%;
  height: 4%;
  opacity: 0.1;
  font-family: Anton;
  font-size: 9rem;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left:16%;
  margin-top:4%;
  text-decoration:none;
}
a{
  color:#ffffff; 
}
a:hover{
  color:#ffffff;
  text-decoration:none;
  cursor:pointer;
  opacity:1;
}
a:active{
  opacity:1
}
.menu p{
  width:21px;
  height:30px;
  color:#ffffff;
  margin-top:4%;
  margin-left:49%;
  text-align:center;
  line-spacing:1px;
  line-height:normal;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;

}
#hello{
  padding-top:35px;
  padding-left:114px;
  width:220px;
  height:25px;
  font-family:'Source Sans Pro';
  font-size:20px;
   font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.2px;
  text-align: left;
  color: #ffffff;
}
#abhishek{
  padding-left:112px;
  padding-right:833px;
  width:495px;
  height:267px;
  font-family:Anton;
  font-size:140px;
  font-weight:normal;
  font-style:normal;
  font-stretch:normal;
  line-height:0.95;
  letter-spacing:normal;
  text-align:left;
  color:#ffffff;
}
#visualdesigner{
  padding-top:20px;
  padding-left:112px;
  width: 385px;
  height: 25px;
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5.5px;
  text-align: left;
  color: #ffffff;
}
