*{
	margin:0;
	padding:0;
}
.tabs{
	background-color:#000000;
	padding-top:43px;
	color:#ffffff;
	height:60px;
	width:100vw;
}
.tabs button{
	background-color:#000000;
	color:#ffffff;
	font-family:'Source Sans Pro';
	 font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  width:20vw;
  height:40px;
  outline:none;
  transition: border-style 0.3s ease-in;
	
}
 .films-active{
 	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	margin-left:25vw;
}
.films{
	border-style: none;
	margin-left:25vw;
	}
.visuals{
	border-style: none;
}
.visuals-active{
	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
}
.grid-container{
	display: grid;
	grid-template-columns: 30vw 30vw 30vw;
	grid-template-rows:11vh 11vh 11vh;
	grid-gap: 2vw 2vw;
	justify-content:end;

}
#youtube{
	width:100vw;
}
#designs{
	width:100vw;
}