*{
	margin:0;
	padding:0;
}
.tabs{
	background-color:#000000;
	padding-top:43px;
	padding-bottom:43px;
	color:#ffffff;
	height:140px;
}
.tabs button{
	background-color:#000000;
	text-align:left;
	color:#ffffff;
	border-style:none;
	font-family:'Source Sans Pro';
	 font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  width:9vw;
  height:40px;
	
}
.tabs button:active{
	border-bottom-style:solid;
	border-bottom-color:#ffffff;
}
.tabs #films{
	margin-left:37vw;
	margin-right:3vw;
}
.tabs #visuals{
	margin-left:44px;
}
