*{
	margin:0;
	padding:0;
}
.tabs{
	background-color:#000000;
	padding-top:4%;
	height:8%;
	width:100%;
	overflow-x:hidden;
	padding-bottom:3%;
}
.tabsvisuals{
	background-color:#ffffff;
	padding-top:4%;
	height:8%;
	width:100%;	
	overflow-x:hidden;
	padding-bottom:3%;
}
.tabs button{
	background-color:#000000;
	font-family:'Source Sans Pro';
	transition:0.08s ease-out;
  	width:10%;
  	height:4%;
  	outline:none;
  	letter-spacing:0.2em;
}
.tabs button:hover{
	opacity:0.4;
}
.tabsvisuals button:hover{
	opacity:0.4;
}
.tabsvisuals button{
	background-color: #ffffff;
	font-family:'Source Sans Pro';
	transition:0.08s ease-out;
  	width:10%;
  	height:4%;
  	letter-spacing:0.2em;
  	outline:none;
}
 .films-active{
 	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	margin-left:40%;
	color:#ffffff;
}
.films{
	border-style: none;
	margin-left:40%;
	color:#b3b3b3;
	}
.visuals-active {
	border-style:none;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	color:#000000;
	margin-left:2%;
}
.visuals{
	border-style:none;
	color:#737373;
	margin-left:2%;
}
#youtubegallery{
	background-color:#000000;
	width:100%;
}
#youtubegallery .thumbnail{
	padding-right:1.5%;
	border-radius:none;
	background-color:#000000;
	border:none;
	object-fit:cover;
}
#designgallery .thumbnail{
	padding-right:1.5%;
	border-radius:none;
	background-color:#ffffff;
	border:none;
	object-fit:cover;	
}